<p>
    Follow the link to enter new password for your account
    at <a href="{{ assets_domain }}">{{ assets_domain }}</a>.
    If you didn't ask to reset password, just ignore this letter.
</p>
<hr>
<p><a href="{{ reset_href }}">{{ reset_href }}</a></p>
<hr>
