/vendor/
.idea
/_admin/_inc/cache/tpl_cache.php
/_cfg/cache/twig
/_cfg/cache/*.php
/log
/htdocs/uploads
!/htdocs/uploads/.htaccess
/htdocs/assets/*
!/htdocs/assets/.htaccess
!/htdocs/assets/favicon
/assets/node_modules
/assets/bower_components
/assets/build
/db/dump/*
!/db/dump/tables
!/db/dump/initial
/htdocs/.well-known
**/.DS_Store
/assets/css/fonts/fonts.css
/_cfg/lib/diStaticBuild.php
/src/NewProject/Data/Environment.php
/htdocs/php.php
