/vendor/
.idea
/_admin/_inc/cache/tpl_cache.php
/_cfg/cache/twig
/_cfg/cache/*.php
/log
/htdocs/uploads
!/htdocs/uploads/.htaccess
/htdocs/assets/fonts/skin/
/htdocs/assets/fonts/web/
/htdocs/assets/images/_core/
/htdocs/assets/js/
/htdocs/assets/styles/
/htdocs/vendor/
/htdocs/assets/vendor/
/assets/node_modules
/db/dump/*
!/db/dump/tables
!/db/dump/initial
/htdocs/.well-known
**/.DS_Store
/assets/css/fonts/
/_cfg/lib/diStaticBuild.php
/src/NewProject/Data/Environment.php
/htdocs/php.php
